
.display-none{
    display: none;
}

.display-block{
    display: block;
}



.botonDeslizaColor--rose {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #ff0a78;
    color: #ff0a78;
  }
  .botonDeslizaColor--rose:hover {
    color: #fff;
  }
  .botonDeslizaColor--rose:hover:after {
    width: 100%;
  }
  .botonDeslizaColor--rose:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #ff0a78;
  }